.pokemonList{
    margin: 5px 0;
    padding: 0;
}

.pokemonList li{
    cursor: pointer; 
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.pokemonListCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    border-radius: 7px;
    position: relative;
}

.pokemonListCard_icon{
    margin-left: 5px;
    height: 45px;
    width: 45px;
}
.pokemonListCard_pokeName{
    font-size: 18px;
    color: #000000;
}
.pokemonListCard_pokeId{
    color: rgb(8, 8, 8);
    font-size: 20px;
    margin-right: 10px;
    align-self: flex-start;
    
}

  

