.pokeCardTop{
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
}
.pokeCardHeader{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height:30px;
}
.back{
  height: 24px;
  width: 24px;
  left: 6px;
  top: 0;
  position: absolute; 
}
.pokeCardTitle{
  margin: 0;
  padding-top: 0;
  font-size: 30px;
  color: #272525;
  position: relative;
}
.scenery{
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
.pokeImg{
  height: 130px;
  width: 130px;
  margin: 0; 
  padding: 0;
}
.typeIconsTop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 100px;
  position: absolute;
  right: 5px;
}
.typeIconsTop img{
  width: 30px;
  height: 30px;
}
