.pokemonsPage{
  background: #0314af;
  margin:0;
  padding: 0;
}
.pokemonsListHeader{
  margin: 0;
  padding: 2.5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: #f1bd5c; 
}
.backButton{
  display: flex;
}
.backButton, .goToTop{
  width: max-content;
  height: max-content;
  font-family: 'VT323', monospace;
  font-size: 20px;
  background: #f1bd5c;
  color: #1d1d22;
  border: none;
  margin: 0px 5px;
}
.backButton:hover, .goToTop:hover{
  color: red;
  cursor: pointer;
}
.pokemonsListContainer{
  width: 100%;
  height: 213px;
  overflow: auto;
}


