.descriptionScreen{
    height: 100%;
    width: 100%;
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    justify-content: center;
}
.descriptionScreen p{
    margin: 15px;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}
.h2RightSide{
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
    color:#ffffff;
    font-weight: 500;
}