/*----- Reset css*/
body{
  margin: 15px 0 0 0;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*----- Colors */
.green{
  background: rgb(37, 128, 9);
}
.yellow{
  background: rgb(243, 243, 24)
}
.red{
  background: rgb(247, 12, 12);
}
.blue{
  background: rgb(38, 101, 236);
}
.lightGray{
  background: rgb(192, 180, 180);
}
.darkGray{
  background: rgb(6, 11, 14);
}
.backColor{
  background: rgb(190, 12, 57);
}

/*-----properties */
.flex{
  display: flex;
}
.circle{
  border-radius: 50%;
}

/*----- Pokedex body */
.pokedex{
  height: 600px;
  width: 330px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgb(39, 23, 23);
}

/*-- Pokedex Head */
.leftContent{
  height: 130px;
  width:205px;
  position: relative;
}
.contentBottomBorder, .contentBottomBorderL, .rightContent{
  border-bottom:rgb(104, 31, 40) solid 5px;
  position: absolute;
}
.contentBottomBorder{
  z-index: 1;
  width:176px;
  bottom:0;
  box-shadow:
    0 4px 5px #970529,
    0 5px 5px rgb(190, 12, 57),
    0 7px 0 rgb(104, 31, 40);
}
.contentBottomBorderL{
  z-index: 2;
  width: 55px;
  bottom: 22px;
  right:-13px;
  transform: rotate(-49deg);
  box-shadow:
    0 4px 4px #970529,
    -5px 5px 5px rgb(190, 12, 57),
    -6px 7px 0 rgb(104, 31, 40);
}
.rightContent{
  z-index: 3;
  height: 89px;
  width: 125px;
  top: 0;
  right: 2px;
  box-shadow:
    0 4px 4px #970529,
    0 5px 5px rgb(190, 12, 57),
    0 7px 0 rgb(104, 31, 40);
}
.rightContentOver{
  z-index: 5;
  height: 89px;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
}
.bigBackCircle{
  z-index: 6;
  height: 80px;
  width: 80px;
  position: absolute;
  left:25px;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 0 15px rgb(39, 23, 23);
}
.bigLed{
  height: 70px;
  width: 70px;
  box-shadow: 0 0 10px rgb(75, 84, 90);
}
.ledS{
  z-index: 7;
  position: absolute;
  right: 24px;
  top : 20px;
}
.ledSmall {
  height: 12px;
  width: 12px;
  margin-right: 7px;
  box-shadow: 0 0 15px rgb(39, 23, 23);
}

/*----- Pokedex main content*/
.mainScreenContainer{
  height:300px;
  width: 245px;
  position: relative;
  margin: 27px 0 20px 27px;
  justify-content: center;
  border-radius: 3%;
  border-bottom-left-radius: 45px;
  box-shadow:
  0 0 10px #f55e84,
  0 0 0 5px #970529;
}
.mainScreenSLed, .mainScreen, .mainScreenLedB, .mainSoundBox{
  position: absolute;
}
.mainScreenSLed{
  top: 10px;
}
.mainScreenLed{
  height: 7px;
  width: 7px;
  margin-right: 15px;
  box-shadow: 0 0 10px rgb(97, 11, 11);
}
.mainScreen{
  height:240px;
  width: 194px;
  top:25px;
  overflow: auto;
}
.mainScreenLedB{
  height: 15px;
  width: 15px;
  bottom: 14px;
  left: 23px;
  box-shadow: 0 0 10px rgb(97, 11, 11);
}
.mainSoundBox{
  width: 20px;
  bottom: 27px;
  right: 27px;
  border: rgb(63, 40, 42) 2px solid;
  box-shadow: 
  0 3px 0 rgb(192, 180, 180),
  0 6px 0 rgb(63, 40, 42),
  0 9px 0 rgb(192, 180, 180),
  0 12px 0 rgb(63, 40, 42),
  0 15px 0 rgb(192, 180, 180),
  0 18px 0 rgb(63, 40, 42);
}

/*----- Pokedex Bottom*/
.pokedexBottomContent{
  position: relative;
  margin-left: 27px;
}
.circularButton{
  height: 40px;
  width: 40px;
  position: relative;
  top: 0;
}
.ledAndScreenContent{
  height: 110px;
  position: relative;
  margin-left: 15px;
}
.lineLed{
  height: 5px;
  width: 35px;
  border-radius: 30%;
}
.lineLeds div:first-child{
  margin-right: 30px;
}
.miniScreen{
  height: 55px;
  width:80px;
  margin-top: 15px;
  margin-left:10px;
  border-radius: 3%;
  box-shadow:
  0 0 10px #f55e84,
  0 0 0 5px #970529;
}
.crossButton{
  height: 90px;
  width: 90px;
  margin-left: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.horizontalLine, .verticalLine{
  position: absolute;
  border-radius: 5px;
}
.horizontalLine{
  height: 80px;
  width: 30px;
}
.verticalLine{
  height: 30px;
  width: 80px;
}
.crossCircle{
  height: 20px;
  width: 20px;
  position: absolute;
  box-shadow: inset 0 0 0 3px rgb(15, 23, 27);
}

/*----- Right Border */
.rightBorder{
  z-index: 4;
  height:510px;
  width: 32px;
  position: absolute;
  top:90px;
  right:0px;
  box-shadow: 
  inset 3px 2px 3px rgb(104, 31, 40),
  inset -3px -2px 3px rgb(104, 31, 40),
  inset 10px 0px 1px rgb(233, 90, 126),
  inset 15px 0px 2px rgb(228, 54, 97),
  inset 20px 0px 1px rgb(211, 28, 74);;
}
.topBorder, .bottomBorder{
  height: 38px;
  width: 32px;
  position: absolute;
}
.topBorder{
  top:0;
  box-shadow: 0 6px 1px rgb(104, 31, 40);
}
.bottomBorder{
  bottom: 0;
  box-shadow: 0 -6px 1px rgb(104, 31, 40);
}



