
/*----- Reset css*/
.pokedexContainer{
  height:100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

/*----- Colors */
.green{
  background: #589c30;
}
.yellow{
  background: #f0cd06;
}
.red{
  background: #EB1212;
}
.blue{
  background: #124bc7;
}
.white{
  background: #ffffff;
}
.purple{
  background: #A21FC4;
}
.brown{
  background: #812c0a;
}
.pink{
  background: #f71e9c;
}
.gray{
  background-color: #686868;
}
.lightGray{
  background: #c0b4b4;
}
.darkGray{
  background: #1d1d20;
}
.backColor{
  background: #be0c39;
}

.opacity20{
  opacity: 35%;
}
@keyframes bounceIn {

  0% {
    background-color: #5499e9;
    box-shadow: 0 0 20px 15px #5ba5fa,
              0 0 12px 25px #1e68bd,
              -5px -5px 20px 22px #5ba5fa,
              0 0 0 30px #1e68bd;
  }
  25% { 
    background-color: #71b2fd;
    box-shadow: 0 0 10px 15px #71b2fd,
              0 0 1px 25px #69acfa,
              -5px -5px 10px 22px #71b2fd,
              0 0 0 30px #69acfa;
  }
  50% {
    background-color: #94c3fa;
    box-shadow: 0 0 0 15px #94c3fa,
              0 0 2px 25px #94c3fa,
              -5px -5px 0 22px #94c3fa,
              0 0 2px 30px #94c3fa,
              0 0 20px 32px #9ec6f5,
              0 0 40px 35px #aacef7;
  }
  75%{
    background-color: #71b2fd;
    box-shadow: 0 0 10px 15px #71b2fd,
              0 0 1px 25px #69acfa,
              -5px -5px 10px 22px #71b2fd,
              0 0 0 30px #69acfa;
  }
  100% {
    background-color: #5499e9;
    box-shadow: 0 0 20px 15px #5ba5fa,
              0 0 12px 25px #1e68bd,
              -5px -5px 20px 22px #5ba5fa,
              0 0 0 30px #1e68bd;
  }
  
  }
/*-----properties */
.flex{
  display: flex;
}
.circle{
  border-radius: 50%;
}

/*----- Pokedex body */
.pokedex{
  height: 600px;
  width: 330px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgb(39, 23, 23);
  margin-top: 25px;
  margin-bottom: 50px; 
}

/*-- Pokedex Head */
.leftContent{
  height: 130px;
  width:205px;
  position: relative;
}
.contentBottomBorder, .contentBottomBorderL, .rightContent{
  border-bottom:#681f28 solid 5px;
  position: absolute;
}
.contentBottomBorder{
  z-index: 5;
  width:173px;
  background-color: #681f28;
  bottom:0;
  /* box-shadow:
    0 4px 5px #970529,
    0 5px 5px rgb(190, 12, 57),
    0 7px 0 rgb(104, 31, 40); */
}
.contentBottomBorderL{
  z-index: 5;
  width: 55px;
  bottom: 20px;
  right:-12px;
  transform: rotate(-49deg);
  /* box-shadow:
    0 4px 4px #970529,
    -5px 5px 5px rgb(190, 12, 57),
    -6px 7px 0 rgb(104, 31, 40); */
}
.rightContent{
  z-index: 5;
  height: 89px;
  width: 127px;
  top: 0;
  right: 0;
  /* box-shadow:
    0 4px 4px #970529,
    0 5px 5px rgb(190, 12, 57),
    0 7px 0 rgb(104, 31, 40); */
}
.rightContentOver{
  z-index: 5;
  height: 89px;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
}
.bigBackCircle{
  z-index: 6;
  height: 80px;
  width: 80px;
  position: absolute;
  left:25px;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 0 15px rgb(39, 23, 23);
}
.bigLed{
  height: 10px;
  width: 10px;
  background-color: #5499e9;
  box-shadow: 0 0 20px 15px #5ba5fa,
              0 0 12px 25px #1e68bd,
              -5px -5px 20px 22px #5ba5fa,
              0 0 0 30px #1e68bd;
  animation-name: bounceIn;
  animation-duration: 0;
  animation-iteration-count: infinite;    
}
.ledS{
  z-index: 7;
  position: absolute;
  right: 24px;
  top : 20px;
}
.ledSmall {
  height: 12px;
  width: 12px;
  margin-right: 7px;
  box-shadow: 0 0 15px rgb(39, 23, 23);
}

/*----- Pokedex main content*/
.mainScreenContainer{
  height:300px;
  width: 245px;
  position: relative;
  margin: 27px 0 20px 27px;
  justify-content: center;
  border-radius: 3%;
  border-bottom-left-radius: 45px;
  box-shadow:
  0 0 10px #f55e84,
  0 0 0 5px #970529;
}
.mainScreenSLed, .mainScreen, .mainScreenLedB, .mainSoundBox{
  position: absolute;
}
.mainScreenSLed{
  top: 10px;
}
.mainScreenLed{
  height: 7px;
  width: 7px;
  margin-right: 15px;
  box-shadow: 0 0 10px rgb(97, 11, 11);
}
.mainScreen{
  height:240px;
  width: 194px;
  top:25px;
  background: #0a3c4b;
}
.mainScreenLedB{
  height: 15px;
  width: 15px;
  bottom: 14px;
  left: 23px;
  box-shadow: 0 0 10px rgb(97, 11, 11);
}
.mainSoundBox{
  width: 20px;
  bottom: 27px;
  right: 27px;
  border: rgb(63, 40, 42) 2px solid;
  box-shadow: 
  0 3px 0 rgb(192, 180, 180),
  0 6px 0 rgb(63, 40, 42),
  0 9px 0 rgb(192, 180, 180),
  0 12px 0 rgb(63, 40, 42),
  0 15px 0 rgb(192, 180, 180),
  0 18px 0 rgb(63, 40, 42);
}

/*----- Pokedex Bottom*/
.pokedexBottomContent{
  position: relative;
  margin-left: 27px;
}
.circularButton{
  height: 40px;
  width: 40px;
  position: relative;
  top: 0;
  border: 2px solid #060b0e;
  box-shadow: inset 0 0 0 2px #1d2d36;
}
.ledAndScreenContent{
  height: 110px;
  position: relative;
  margin-left: 15px;
}
.lineLed{
  height: 5px;
  width: 35px;
  border-radius: 30%;
}
.lineLeds div:first-child{
  margin-right: 30px;
}
.miniScreen{
  height: 55px;
  width:80px;
  margin-top: 15px;
  margin-left:10px;
  border-radius: 3%;
  box-shadow:
  0 0 10px #f55e84,
  0 0 0 5px #970529;
}
.crossButton{
  height: 90px;
  width: 90px;
  margin-left: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.horizontalLine, .verticalLine{
  position: absolute;
  border-radius: 5px;
  border: 2px solid #060b0e;
  box-shadow: inset 0 -3px 0 0 #1d2d36,
              inset 1px 0 0 0 #1d2d36,
              inset -1px 0 0 0 #1d2d36,
              inset 0 1px 0 0 #405e6e;
}
.horizontalLine{
  height: 80px;
  width: 30px;
}
.verticalLine{
  height: 30px;
  width: 80px;
}
.horizontalLineOver{
  width: 30px;
  height: 40px;
  position: absolute;
}
.crossCircle{
  height: 20px;
  width: 20px;
  position: absolute;
  box-shadow: inset 0 0 0 3px #0f171b,
              inset 0 -6px 0 0 #19272e;
}

/*----- Right Border */
.rightBorder{
  z-index: 4;
  height:510px;
  width: 32px;
  position: absolute;
  top:90px;
  right:0px;
  box-shadow: 
  inset 3px 2px 3px rgb(104, 31, 40),
  inset -3px -2px 3px rgb(104, 31, 40),
  inset 10px 0px 1px rgb(233, 90, 126),
  inset 15px 0px 2px rgb(228, 54, 97),
  inset 20px 0px 1px rgb(211, 28, 74);;
}
.topBorder, .bottomBorder{
  height: 38px;
  width: 32px;
  position: absolute;
}
.topBorder{
  top:0;
  box-shadow: 0 6px 1px rgb(104, 31, 40);
}
.bottomBorder{
  bottom: 0;
  box-shadow: 0 -6px 1px rgb(104, 31, 40);
}
.buttonChangePokeSide{
  visibility: hidden;
  position: absolute;
  margin: 10px;
  bottom:260px;
  left: 293px;
  width: 25px;
  height: 50px;
  z-index: 5;
}

/*Pokedex Front*/
.pokedexFront{
  z-index: 4;
  height: 470px;
  width: 330px;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
}
.pokedexFrontTopRightOver{
  position: absolute;
  right: 0;
  top: -50px;
  height: 70px;
  width: 160px;
}
.arrowRightIcon{
  position: absolute;
  margin: 10px;
  bottom:260px;
  width: 25px;
  height: 50px;
}
.arrowRightIcon:hover{
  cursor: pointer;
}

/* Pokedex right content */

.pokedexRightSide{
  height: 506px;
  width: 330px;
  position: absolute;
  left:-32px;
  box-sizing: border-box;
  margin-top: 119px;
  margin-bottom: 50%;
  visibility: hidden;
}

/*content top border left (Right side pokedex)*/
.contentTopBorderLeftRS{
  width: 120px;
  height: 7px;
  background-color: #c20736;
  position: absolute;
  top:0;
  border: 2px solid #681f28; 
  border-left: 0;
  border-right: 0;
  z-index: 1;
}

/*content top left (Right side pokedex)*/
.contentTopLeftRS{
  width: 120px;
  height: 50px;
  background: #be0c39;
  position: absolute;
  left:0;
  top: 7px;
}

.contentTopBorderLeft2RS{
  width: 55px;
  height: 7px;
  transform: rotate(49deg);
  background-color: #c20736;
  border: 2px solid #681f28;
  border-left: 0;
  border-right: 0;
  position: absolute;
  left:107px;
  top: 19px;
}
.contentTopLeft2RS{
  width: 55px;
  height: 50px;
  transform: rotate(49deg);
  background: #be0c39;
  position: absolute;
  left:85px;
  top: 20px;
}
.contentTopBorderLeftRSIn{
  width: 55px;
  height: 7px;
  transform: rotate(49deg);
  background-color: #c20736;
  border-left: 0;
  border-right: 0;
  position: absolute;
  left:107px;
  top: 21px;
  z-index: 3;
} 
.contentTopBorderRightRS{
  width: 181px;
  height: 7px;
  background-color: #c20736;
  border: 2px solid #681f28;
  border-left: 0;
  border-right: 0;
  position: absolute;
  top:39px;
  right: 0;
}
.pokedexRightSideMainContent{
  height: 456px;
  width: 330px;
  position: absolute;
  background-color: #be0c39;
  bottom: 0;
}

/*Pokedex right side main */

.pokedexRightSideMainScreen{
  width: 245px;
  height: 100px;
  position: absolute;
  top:27px;
  right: 27px;
  background-color: #060b0e;
}


/*Left border */
.leftBorder{
  z-index: 1;
  height:506px;
  width: 32px;
  position: absolute;
  top:0;
  left:0;
  box-shadow: 
  inset 1px 2px 2px rgb(104, 31, 40),
  inset -3px -2px 3px rgb(104, 31, 40),
  inset 10px 0px 1px rgb(233, 90, 126),
  inset 15px 0px 2px rgb(228, 54, 97),
  inset 20px 0px 1px rgb(211, 28, 74);;
}
