.card{
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 3px black;
}
.titulo{
  margin:2px 0 2px 0;
  font-size: 2.1em;
}
img{
  margin-top: 0;
  padding: 3px 0 3px 0;
  width: 96%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.descricao{
  align-items: center;
  margin:0;
  padding:5px 0 5px 0;
  text-align: center;
  
}