
/*----- Reset css*/
.pokedexContainer{
  height:100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

/*----- Colors */
.green{
  background: #589c30;
}
.yellow{
  background: #f0cd06;
}
.red{
  background: #EB1212;
}
.blue{
  background: #124bc7;
}
.white{
  background: #ffffff;
}
.purple{
  background: #A21FC4;
}
.brown{
  background: #812c0a;
}
.pink{
  background: #f71e9c;
}
.gray{
  background-color: #686868;
}
.lightGray{
  background: #c0b4b4;
}
.darkGray{
  background: #1d1d20;
}
.backColor{
  background: #be0c39;
}

.opacity20{
  opacity: 35%;
}
@keyframes bounceIn {

  0% {
    background-color: #5499e9;
    box-shadow: 0 0 20px 15px #5ba5fa,
              0 0 12px 25px #1e68bd,
              -5px -5px 20px 22px #5ba5fa,
              0 0 0 30px #1e68bd;
  }
  25% { 
    background-color: #71b2fd;
    box-shadow: 0 0 10px 15px #71b2fd,
              0 0 1px 25px #69acfa,
              -5px -5px 10px 22px #71b2fd,
              0 0 0 30px #69acfa;
  }
  50% {
    background-color: #94c3fa;
    box-shadow: 0 0 0 15px #94c3fa,
              0 0 2px 25px #94c3fa,
              -5px -5px 0 22px #94c3fa,
              0 0 2px 30px #94c3fa,
              0 0 20px 32px #9ec6f5,
              0 0 40px 35px #aacef7;
  }
  75%{
    background-color: #71b2fd;
    box-shadow: 0 0 10px 15px #71b2fd,
              0 0 1px 25px #69acfa,
              -5px -5px 10px 22px #71b2fd,
              0 0 0 30px #69acfa;
  }
  100% {
    background-color: #5499e9;
    box-shadow: 0 0 20px 15px #5ba5fa,
              0 0 12px 25px #1e68bd,
              -5px -5px 20px 22px #5ba5fa,
              0 0 0 30px #1e68bd;
  } 
}
/*-----properties */
.flex{
  display: flex;
}
.circle{
  border-radius: 50%;
}




