
.pokemonList{
  background-color: #15b82b;
  margin: 0;
  padding: 0;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  list-style-type: none;
  color: #f7f0f0;
  margin: 6px 4px 6px 4px; 
  font-weight:600;
  background: #61c06e;
  border-radius: 7px;
  transition-delay: 0.05s;
}

li:hover{
  filter: brightness(1.1);
}

.newIcon{
  background: red;
  margin: 0 5px 0 0;
  padding: 0;
  border-radius: 8px;
}

.newIcon p{
  margin: 0;
  color: yellow;
  padding: 2px 4px 2px 4px;
}